
  .faqNav {
    margin-bottom: 24px;
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
  }
  
  .faqNav a {
    text-decoration: underline;
    margin: 8px;
    color: #333;
  }
  
  .faqNav a:hover {
    text-decoration: underline;
  }

  /* カテゴリタイトルの下に点線仕切り */
  .faqSection h2 {
    border-bottom: 1px dashed #ccc; 
  }

  /* ✅質問ごとの点線仕切り */
  .faqItem {
    border-bottom: 2px dotted #ccc; 
    padding: 16px 10px;
 
  }
  
  .faqItem a{
    color: #333;
  }

