.navColumn {
    width: 100%;
    min-height: 100%;
    background-image: url('/src/assets/navbg.webp');
    background-repeat: repeat-y; /* ✅ 縦方向に繰り返す */
    background-size:100%;
    background-position: top center;
    position: sticky;
    top: 24px;
  }
  
  .navColumn li {
    margin-bottom: 20px;
  }
 
  .navColumn a{
    color: rgb(84, 84, 84);
    text-decoration:none;
    text-align: center;
    margin-bottom: 20px;
  } 
  .navColumn ul {
    list-style: none;  
    padding-left: 8px;
    margin: 0;
    align-items: center;
    margin-bottom: 20px; 
    text-align: center;
    justify-content: center;

  } 