/* 
--------------------------------------------------
タイトル(pageTitleWrapper)
--------------------------------------------------
  　　　　　　(contentGrid)
基本情報(heroColumn)| News,Insta（updatesColumn）
--------------------------------------------------
*/


.contentGrid{
    display: grid;
    grid-template-columns: minmax(250px,30%) 1fr;
    width: 100%;
    align-items: stretch;
    padding-bottom: 100px;
  }

.updatesColumn{
      display: flex;
      flex-direction: column; 
          
}

  .heroColumn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3px;
    padding-right: 0px;
  }
  
  .heroItem, .updatesItem{
    width:100%;
    border-radius: 8px;
    overflow: hidden;

      
  }
  
  .heroItem-map a{
    color: black;
  }

  .galleryLinkBtn {
    flex: 1 1 auto; 
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    align-items:center;
    padding-top: 40px;
    padding-right: 12px;
  }

  .galleryLinkBtn a{
    color: black;
  }

  @media (max-width: 768px) {
  .contentGrid{
    grid-template-columns: 110px 1fr;
    gap:5px;
    padding-left:3px;
  }
}