/*高さ：70px　絶対位置指定の基準にする*/
.header{
  height: auto;
}

.heroHeader { 
  height: 100%;
     overflow:hidden;
  }
  
  /*ヘッダー画像を親の大きさに合わせる　=70px*/
  .heroHeader img {
    height: 100%;
    width: 100%;
    display: block;/*ブロック扱いにする*/
    object-fit:cover; 
    margin: 0 auto;
   
  }

  @media (max-width: 768px) {
    .header{
        height:50px;
    }
  }