.pageTitle {
    max-width: 100%;
    text-align: center;
  }
  
  .pageTitle img {
    max-width: 80%;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }
  