.updatesSection {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}


.updatesHeadingWrapper {
  text-align: center;
  margin-bottom: 1rem;

}

.updatesHeadingImg {
  width: 30%;
  height: auto;
}

.todayNotice {
  color: #d63333;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 1rem;

} 

.updatesCategoryTitle {
  text-align: center;
  font-size: 1rem; /* 本文と同じサイズに */
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  
}

.updatesList{
  border-bottom: 1px dashed #ccc;
  padding-left: 0px;
  padding-bottom: 20px;
}

.updatesList a {
color: black;
}

.lunchText,.dayoffText{
  text-align: center;
  line-height: 2;
  list-style: none;
}

.othersText{
  text-align: left;
  line-height: 2;
  list-style:circle;
  padding-left: 6px;
}
