

html {
  scroll-behavior: smooth;
  font-size:100% ;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}


/*背景、フォント*/


body {
  background: #fff url('/body.webp') top left repeat;
  background-size: auto;
    font-family:
    "Hiragino Maru Gothic ProN",       /* mac一部 */
    "Hiragino Sans",                   /* mac/iOS */
    "Yu Gothic UI","Yu Gothic",        /* Windows 8+ */
    "Meiryo",                          /* Windows */
    "Noto Sans JP","Noto Sans CJK JP", /* Android/ChromeOS 他 */
    system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

html, body, #root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}


/*
-------------------------
|        ヘッダー       |
-------------------------
（mainGrid)
| Nav | メインコンテンツ |
-------------------------
*/


.mainGrid {
  display: grid;
  grid-template-columns: 15% 1fr;
  max-width: 1800px;
  margin: 0 auto;
  min-height: 100%;
}

  .mainContent{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }

    .pageTitleWrapper{
      text-align: center;
    }

@media (max-width: 768px) {
  html{
    font-size: 10px;
  }
  .mainContent{
    gap: 5px;
  }


}

